@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

/* header */
.header {
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 3;
  height: 48px; }

.header .logo {
  width: 24px; }

.header .bag {
  width: 24px;
  position: relative;
  padding: 10px 16px; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff; }

.header li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  list-style: none;
  color: #b8aeae;
  display: block;
  margin-left: 28px;
  margin-right: 28px;
  padding: 20px 20px;
  border-bottom: 1px solid #686363;
  text-decoration: none; }

/* menu */
.header .menu {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  margin-top: 48px;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

.btn--buy {
  display: none; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px; }

.header .menu-icon .navicon {
  display: block;
  height: 1.8px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #8d8d8d;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.header .menu-icon .navicon:before {
  top: 5px; }

.header .menu-icon .navicon:after {
  top: -3px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 100vh; }

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

@media screen and (min-width: 1024px) {
  .header li {
    float: left; }

  .header li a {
    padding: 20px 28px; }

  .btn--buy {
    background-color: #2189db;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
    padding: 3px 10px;
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 1px rgba(28, 115, 184, 0.64);
    white-space: nowrap;
    text-decoration: none;
    margin: 0 28px; }

  .header .menu {
    clear: none;
    float: right;
    max-height: none; }

  .header .menu-icon {
    display: none; }

  .header .logo {
    padding: 20px 28px; }

  .header .bag {
    display: none; }

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; }

  .header .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    position: relative;
    margin-top: 0px;
    max-height: 44px;
    transition: max-height .2s ease-out; }

  .header li a {
    padding: 0px 0px;
    border-bottom: none; } }
.hero {
  padding-top: calc(44px + 10px);
  background-color: #F7F7F7;
  display: flex;
  flex-wrap: wrap; }
  .hero h1 {
    padding: 30px 50px; }
  .hero img {
    width: 100%; }

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .hero img {
      height: 334px;
      width: 568px; } }
/* sección visión */
/*Sección Visión*/
.vision {
  width: 100%;
  margin-bottom: 10px;
  background: #C6FFDD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .vision .texto {
    margin: 10px 15px;
    padding-top: 20px; }
    .vision .texto h2 {
      color: #F4F4F4;
      margin-bottom: 10px; }
    .vision .texto p {
      color: #2F2F2F; }

/*slider*/
.slider {
  width: 90%;
  margin: auto;
  overflow: hidden; }
  .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    align-items: center;
    animation: cambio 20s infinite alternate linear; }
    .slider ul li {
      list-style: none;
      width: 100%;
      text-align: center; }
      .slider ul li img {
        width: 50%; }
      .slider ul li #img2 {
        width: 35%; }

/*Keyframes slider*/
@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2F2F2F;
  width: 100%; }
  .formulario h2 {
    color: #FBF4F3;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin: 5%; }
  .formulario h3 {
    color: #FBF4F3;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin: 3%; }
  .formulario form {
    align-items: center;
    display: flex;
    color: #FBF4F3; }
    .formulario form div input {
      display: flex;
      margin: 10px;
      background-color: #FBF4F3;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      color: #2F2F2F; }

.email {
  width: 40vw; }

@media screen and (min-width: 720px) {
  /*Sección Visión*/
  .vision {
    display: flex;
    justify-content: space-between;
    /*slider*/ }
    .vision .texto {
      width: 50%;
      margin-left: 5vw;
      margin-top: 2vh;
      text-align: center; }
    .vision .slider {
      width: 50%;
      margin-left: 20vw; } }
@media screen and (min-width: 1200px) {
  /*Sección Visión*/
  .vision .texto {
    margin-top: 10vh; } }
.desing {
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center; }

@media screen and (min-width: 490px) {
  .desing {
    text-align: center;
    display: block;
    /* justify-items: center;
    flex-wrap: wrap; */ } }

/*# sourceMappingURL=main.css.map */
