@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif&display=swap");
@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SF-UI-Text-Regular.otf");
  font-family: "SF Pro Text Light";
  src: url("./assets/fonts/SF-UI-Display-Ultralight.otf");
}
* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  background-color: black;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 3;
  height: 48px;
}

.header .logo {
  width: 24px;
}

.header .bag {
  width: 24px;
  position: relative;
  padding: 10px 16px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  list-style: none;
  color: #b8aeae;
  display: block;
  margin-left: 28px;
  margin-right: 28px;
  padding: 20px 20px;
  border-bottom: 1px solid #686363;
  text-decoration: none;
}

/* menu */
.header .menu {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  margin-top: 48px;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
}

.header .menu-icon .navicon {
  display: block;
  height: 1.8px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #8d8d8d;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -3px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  background-color: #2F2F2F;
  width: 100vw;
}
.formulario h2 {
  color: #FBF4F3;
  font-family: "SF Pro Text";
  font-size: 40px;
  margin: 5%;
}
.formulario h3 {
  color: #FBF4F3;
  font-family: "SF Pro Text";
  font-size: 25px;
  margin: 3%;
}
.formulario form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FBF4F3;
  margin-bottom: 5vw;
}
.formulario form div input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  background-color: #FBF4F3;
  font-family: "SF Pro Text";
  font-size: 18px;
  color: #2F2F2F;
}

.email {
  width: 40vw;
}

/*Sección Visión*/
.vision {
  margin-top: 10px 10px;
  background: #C6FFDD;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f7797d), color-stop(#FBD786), to(#C6FFDD));
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.vision .texto {
  margin: 10px 10px;
  padding-top: 10px;
}

/*slider*/
.slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
}
.slider ul li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.slider ul li img {
  width: 50%;
}
.slider ul li #img2 {
  width: 35%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@media screen and (min-width: 720px) {
  /*Sección Visión*/
  .vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2vh 2.5vw;
    /*slider*/
  }
  .vision .texto {
    width: 50%;
    margin-left: 5vw;
    margin-top: 2vh;
    text-align: center;
  }
  .vision .slider {
    width: 50%;
    margin-left: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  /*Sección Visión*/
  .vision .texto {
    margin-top: 10vh;
  }
}
