@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif&display=swap");
*{
  margin:0;
  padding: 0;
}
/* header */

.header {
  background-color: rgb(0, 0, 0);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 3;
  height: 48px;
}
.header .logo{
  width: 24px;
}
.header .bag{
  width: 24px;
  position: relative;
  padding: 10px 16px;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  font-family: $primary-font;
  font-weight: 500;
  list-style: none ;
  color: #b8aeae;
  display: block;
  margin-left: 28px;
  margin-right: 28px;
  padding: 20px 20px;
  border-bottom: 1px solid #686363;
  text-decoration: none;
}

/* menu */

.header .menu {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100vh;
  margin-top: 48px;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.btn--buy{
  display: none;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
}

.header .menu-icon .navicon {
  display: block;
  height: 1.8px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(141, 141, 141);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -3px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media screen and (min-width: 1024px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .btn--buy{
    background-color: #2189db;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
    padding: 3px 10px;
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 1px rgba(28,115,184,0.64);
    white-space: nowrap;
    text-decoration: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo{
    padding: 20px 28px;
  }
  .header .bag{
    display: none;
  }
  .header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

  }
  .header .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    position: relative;
    margin-top: 0px;
    max-height: 44px;
    transition: max-height .2s ease-out;
  }
  .header li a {
    padding: 0px 0px;
    border-bottom: none;
  }

}