.hero{
    padding-top: calc(#{$header--height} + 10px);
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    & h1{
        padding: 30px 50px;
    }
    & img{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .hero{
        display: flex;
        align-items: center;
        justify-content: space-around;
    & img{
        height: 334px;
        width: 568px;
    }
}
}
