/*slider*/
.slider{
    width: 90%;
    margin: auto;
    overflow: hidden;
    ul{
        display: flex;
        padding: 0;
        width: 400%;
        align-items: center;
        
        animation: cambio 20s infinite alternate linear;
        li{
            list-style: none;
            width: 100%;
            text-align: center;
            img{
                width: 50%;
            }

            #img2{
                width: 35%;
            }
        }
    }
}