// FONTS
$primary-font: 'Poppins', sans-serif;
$secondary-font: "SF Pro Text Light";
// COLORS
$primary-color:#2F2F2F;
$secondary-color:#FFFFFF;
$vision-color:#F4F4F4;
$desing-color:#FBF4F3;
$suscribe-color:#F7F7F7;
$footer-color:#f5f5f7;
// dimensions
$header--height: 44px;
